Package: tomotko
Architecture: $ARCH
Version: $VERSION
Section: $SECTION
Priority: $PRIORITY
Maintainer: Frederic Bergeron <fbergeron@users.sourceforge.net>
Description: Flashcard application to learn vocabulary
 Flashcard application convenient for people wanting to learn
 vocabulary in one or more foreign languages.
Homepage: http://tomotko.sourceforge.net
Bugs: https://sourceforge.net/tracker/?group_id=181531&atid=897575
Installed-Size: $SIZE_IN_KB
Depends: $DEPENDS
